<div id="home">
<a class="home_link" id="videos_link">Videos</a><br />
<a class="home_link" id="images_link">Images</a><br />
<a class="home_link" id="music_link">Music</a><br />
<a class="home_link" href="http://www.netflix.com">Netflix</a><br />
<a class="home_link" href="http://www.hulu.com">Hulu</a><br />
<a class="home_link" href="http://www.youtube.com">YouTube</a>
</div>
